<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paging">

	<select id="pgGetOrderList" resultType="hashmap">
		<![CDATA[ select * from `order` WHERE 1 = 1 ]]>
		<if test="searchKeyword != null and searchKeyword != ''">
			<choose>
				<when test="searchType == 'user_id' and searchKeyword == 'nonmember'"> And user_id = concat("", user_id*1) </when>
				<otherwise> AND ${searchType} = #{searchKeyword} </otherwise>
			</choose>
		</if>
		<if test="order_status != null and order_status != ''"> AND order_status = #{order_status} </if>
		<if test="startDate != null and startDate != ''"> AND order_date >= cast(#{startDate} as date) </if>
		<if test="endDate != null and endDate != ''">
		<![CDATA[ AND order_date <= DATE_ADD(cast(#{endDate} as date), INTERVAL 1 DAY) ]]>
		</if>
		<![CDATA[
		order by order_num desc 
		limit ${startList}, ${listSize} 
		]]>
		
	</select>
	
	<select id="pgGetOrderListCnt" resultType="_int">
		<![CDATA[ select count(order_num) from `order` WHERE 1 = 1 ]]>
		<if test="searchKeyword != null and searchKeyword != ''">
		<choose>
		<when test="searchType == 'user_id' and searchKeyword == 'nonmember'"> And user_id = concat("", user_id*1) </when>
		<otherwise> AND ${searchType} = #{searchKeyword} </otherwise>
		</choose>
		</if>
		<if test="order_status != null and order_status != ''"> AND order_status = #{order_status} </if>
		<if test="startDate != null and startDate != ''"> AND order_date >= cast(#{startDate} as date) </if>
		<if test="endDate != null and endDate != ''">
		<![CDATA[ AND order_date <= DATE_ADD(cast(#{endDate} as date), INTERVAL 1 DAY) ]]>
		</if>
	</select>
	
	<select id="getProductListCNT" parameterType="hashmap" resultType="_int">
		<![CDATA[
			select count(*) as listCNT from product where 1=1
		]]>
		<if test ="category != 'all'" >
			and category = #{category};
		</if>
	</select>
	
	<select id="getBuyListCnt" parameterType="hashmap" resultType="_int">
		<![CDATA[
			select count(*) as listCNT from `order` 
			where user_id = #{id};
		]]>
	</select>
	
	<select id="getPordSearchCnt" parameterType="hashmap" resultType="_int">
	<![CDATA[  
		select  count(*) 
		from  product  
		where 1 = 1  
	]]>  
	<if test="keyword != null and keyword != ''">  
		and (name like CONCAT('%',#{keyword},'%') 
		or category like CONCAT('%',#{keyword},'%')
		or replace(name,' ','') like CONCAT('%',#{keyword},'%')
		or replace(category,' ','') like CONCAT('%',#{keyword},'%'))  
	</if>  
	</select>
	

</mapper>